<div class="container">
    <h1>Nuevo Usuario</h1>
    <form [formGroup]="forma" (ngSubmit)="guardarUsuario()">

      <div class="form-group">
          <label for="nombre">Nombre</label>

          <input type="text"
          class="form-control"
          formControlName="nombre" placeholder="Nombre"
          id="nombre"
          >
          <div *ngIf="forma.controls['nombre'].errors?.required"class="form-control-feedback">
            Nombre Requerido
          </div>

      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">

        <div *ngIf="forma.controls['apellido'].errors?.required"class="form-control-feedback">
          Apellido Requerido
        </div>
      </div>

      <div class="form-group">
        <label for="cedula">Cedula</label>
        <input type="text" class="form-control" id="cedula" placeholder="cedula" formControlName="cedula">

        <div *ngIf="forma.controls['cedula'].errors?.required"class="form-control-feedback">
          Cedula Requerido
        </div>

      </div>

      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" id="edad" placeholder="edad" formControlName="edad">
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="telefono" formControlName="telefono">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
