      <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">

           <!-- Modal content-->
           <div class="modal-content">

             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modal Header</h4>
             </div>

             <div class="modal-body">
               <form [formGroup]="forma" (ngSubmit)="guardarEntrada()">

                 <div class="form-group">
                   <div class="row ">
                      <div class="col-sm-2">
                       <label for="usuario">Cedula Usuario</label>
                     </div>
                        <div class="col-sm-6">
                           <input type="text" class="form-control" id="usuario" placeholder="usuario" formControlName="usuario"  [(ngModel)]="queryBuscador" (keyup)="filter()">
                        </div>

                       <div class="col-sm-4">
                         <button type="button" class="btn btn-default">Buscar</button>
                       </div>
                   </div>

                  <div [hidden]="btnCrearNuevoUsuario" >
                    <button type="button" class="btn btn-danger" (click)="MostrarCrearUsuario()" data-dismiss="modal">Crear Usuario</button>
                  </div>

                 </div>

                <div class="form-group">
                  <div class="suggestions" *ngIf="filteredList.length > 0">
                    <div class="radio" *ngFor="let usuarioFiltrado of filteredList">
                      <label >
                        <input type="radio" name="optradio" (click)="select(usuarioFiltrado)">
                        {{usuarioFiltrado.cedula}}  / {{usuarioFiltrado.nombre}} {{usuarioFiltrado.apellido}}
                      </label>
                    </div>
                  </div>
                </div>

                 <div class="form-group">
                   <div class="row ">
                      <div class="col-sm-2">
                        <label for="vehiculo">Vehiculo</label>
                      </div>

                      <div class="col-sm-6">
                         <input type="text" class="form-control" id="vehiculo" placeholder="vehiculo" formControlName="vehiculo" [(ngModel)]="queryVehiculos" (keyup)="filterVehiculos()">
                      </div>

                      <div class="col-sm-4">
                        <button type="button" class="btn btn-default">Buscar</button>
                      </div>

                      <div [hidden]="btnCrearVehiculo">
                        <button type="button" class="btn btn-danger" (click)="MostrarCrearVehiculo()" data-dismiss="modal">Crear Vehiculo</button>
                      </div>

                    </div>
                 </div>

                 <div class="form-group">
                   <div class="suggestions" *ngIf="filteredListVehiculos.length > 0">
                     <div class="radio" *ngFor="let vehiculoFiltrado of filteredListVehiculos">
                       <label >
                         <input type="radio" name="optradio" (click)="selectVehiculo(vehiculoFiltrado)">
                         {{vehiculoFiltrado.nombre}}  / {{vehiculoFiltrado.placa}} {{vehiculoFiltrado.tipoVehiculo.id}}
                       </label>
                     </div>
                   </div>
                 </div>

                  <div class="container">

                    <input [(ngModel)]="date2" ngui-datetime-picker
                     hour="23"
                     minute='59'
                     close-on-select="false"
                     formControlName="fecha"
                     />

                 </div>

                 <div class="form-group">

                   <div class="radio" style="padding: 20px 0; border-bottom: 1px solid #ccc;">
              				<h2>Slots para el tipo de vehiculo seleccionado</h2>
                      <div *ngFor="let slotipo of slotstipo" >
                				<input type="radio" name="slot" [disabled]="!slotipo.ocupado" (change)="seleccionarSlot(slotipo)">
                				<label for="slot" [ngStyle]="{'color': getFont(slotipo)}"> {{slotipo.numero}} / {{slotipo.tipoVehiculo.nombre}}</label>
                      </div>
              			</div>

                 </div>

                 <div class="form-group"></div>
                  <button type="submit" class="btn btn-success">Registrar entrada</button>
               </form>

             </div>

             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>

           </div>

         </div>
       </div>
